$font-general: 'Roboto', sans-serif;
$font-comics: "classic-comic", sans-serif;
$gradiente: linear-gradient(to right, #000000, #434343);
$medidaMain: 100px;

footer {
    background: $gradiente;
    color: white;
    font-family: $font-general;
    font-size: 19px;
    position: relative;
    z-index: 5;
    @include padding(40px,40px,0,0 );
   }

   .mediosdepago {
    @include padding(20px,0 ,0 ,0)
  }

  .redes {
    padding-right: $medidaMain/10;
    max-width: $medidaMain/2;
}

.footerCards {
    width: 100%;
    @include padding(20px,0 ,0 ,0);

}

.col-sm {
    text-transform: none;
    text-align: center;
    
    }
    
    .listaContactos {
        list-style: none;
        text-align: left;
        font-size: 14px;
        margin-left: 82px;
        margin-top:25px;
    }
    
    
    .Contactanos {
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }
    
    .iconosRedes {
    display: flex;
    justify-content: space-evenly;
    @include padding(30px,0 ,0 ,0);
    }
