@import 'header';
@import 'index';
@import 'footer';
@import 'form';
@import 'recomendaciones';

@import url(//db.onlinewebfonts.com/c/dfb3844c6834f75c91f844559732e9a4?family=AlterEgoBBW00-Regular);


@media (max-width:480px) , (max-width: 375px) {

.tituloAmarillo {
    margin-left: 0px;
}
.w-100 {
        scale: 112%;
    }
    
    #columna1 {
    font-size: 1.2em;
    justify-content: flex-start;
    

    }

#columna2 {
    font-size: 1.2em;
    justify-content: flex-start;
}

.form-inline .form-control {
    padding-right: 120px !important;
}

.mb-2, .my-2 {
    margin-left: 0;
}

.btn {
    margin-left: 10px;
}


img {
    width: 80%;
        
}


p {
    padding-bottom: 0;

}
.recuadro {
    padding-bottom: 30px;
    padding-top:40px;
}
.logoBanner {
    margin-right: 0px;
    padding-right: 11px;
    margin-bottom: 20px;
    margin-left: 22px;
}


.bannerfinal {
    width: 150%;
    height: 125%;
    padding: 0px;

}

.banner__final {
    margin-top: 0 !important;
}

.botonBanner {
    margin-right: 40px;
}

h6 {
    font-size: 16px !important;
   
}

.textoBanner{
    font-size: 16px !important;
    padding-right: 30px;
    padding-left: 30px;
   
}

.textoBannerlinea {
    font-size: 16px !important;
    padding-left: 20px;
    padding-right: 22px;
   
}

.col-sm {
    text-transform: none;
    text-align: center !important;
}
img.footerCards {
    width: 80%;
    padding-bottom: 20px;
}
.tarjetas {
    text-align: center;
}

.listaContactos {
    margin-left: 0;
}
.listaContactos {
    list-style: none;
    text-align: center;
    font-size: 14px;
    margin-left: 0 !important;
    margin-top: 10px;
}
.iconosRedes {
    justify-content: center;
    padding-top: 10px;
   
}
.titulosComic1 {
    margin-top: 20px !important;
    padding-right: 30px !important;
    margin-left: 20px !important;;
}

.titulosComic2 {
    padding-right: 30px !important;
    margin-left: 0 !important;
}
.parrafoRecomenados {
    padding-right: 0;
    padding-left: 0;
}
}

@media (max-width: 768px), (max-width: 800px) {

    
    .form-inline .form-control {
        padding-right: 460px;
    }
    
    #columna1 {
        justify-content: space-around;
    }  

    #columna2 {
        justify-content: space-around;
    }  
    .section__Fotos {
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 45px;
        margin-top: 25px;
        grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
            
    }  

    .tituloAmarillo {
       display: flex;
       justify-content: center;
   }

    h6 {
        font-size:20px;
        margin-right:  40px;
    }

    h5 {
        margin-left: 0px;
    }

    .banner__final {
        margin-top: 0 !important;
    }
    .logoBanner {
        margin-right: 0px;
    }
    .botonBanner {
        margin-right: 0px;
    }

    .textoBanner {
        font-size: 20px;
    }

    .textoBannerlinea {
        font-size: 20px;
    }
    .footerCards {
        width: 130%;
    }
    .col-sm {
        text-transform: none;
        text-align: left;
    }
    .listaContactos {
        margin-left: 70px;
            
    }

    .titulosRedes {
        text-align: center;
    }

    a.botones {
        font-size: 11px;
    }

    form.form-inline.my-2.my-lg-0 {
        margin-left: 0px;
    }

    .titulosComic1 {
        padding-right: 460px;
        margin-top:40px;   
        margin-left: 0px;
    }
    
    .parrafoRecomenados {
        padding-right: 0;
        padding-left: 0;
    }

    .titulosComic2 {
        padding-right: 460px;
        margin-left: 0px;
        margin-top:40px;
    }
    }

     
@keyframes transitionIn {
    from {
        opacity: 0;
        transform:rotateX(-10deg)

    }

    to {
        opacity: 1;
        transform:rotateX(-10deg)
    }
}

@media only screen
  and (min-device-width: 800px) {
    #message {
        padding-bottom: 12rem;
    }

    .banner__final {
        margin-top: 0 !important;
    }
}

@media only screen
  and (min-device-width: 1440px), (min-device-width: 1280px) {
#message {
    padding-bottom: 4rem;
}
.banner__final {
    margin-top: 0 !important;
}
}